In [2]:
# Importing libraries
import pandas as pd
import numpy as np

In [3]:
# Importing tables
projects = pd.read_csv('projects.csv')
topics = pd.read_csv('topics.csv')
topic_relationships = pd.read_csv('topic_relationships.csv')

In [11]:
projects.describe()

,project_id,year,funding_goal,stretch_goal_no_yes,funding_goal_stretch_point,relative_stretch_goal,funding_raised,percentage_of_goal,percentage_of_goal_stretch,number_of_supporters,word_count_description
count,1438.000000,1438.000000,1.438000e+03,1438.000000,1.438000e+03,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000,1438.000000
mean,719.500000,2015.360918,1.450628e+04,0.990960,3.560955e+04,2.420488,4463.024868,0.633024,0.298666,35.753825,586.381780
std,415.259156,2.382037,6.865665e+04,0.094683,2.268056e+05,0.958515,11425.205132,0.787651,0.362398,54.885158,457.763201
min,1.000000,2011.000000,1.000000e+00,0.000000,2.000000e+00,1.000000,2.010000,0.000100,0.000000,2.000000,2.000000
25%,360.250000,2013.000000,2.500000e+03,1.000000,5.698368e+03,1.611550,295.000000,0.053725,0.023825,6.000000,303.000000
50%,719.500000,2015.000000,5.915000e+03,1.000000,1.200000e+04,2.000000,1329.980000,0.249200,0.120850,16.000000,483.000000
75%,1078.750000,2017.000000,1.250000e+04,1.000000,3.000000e+04,3.142900,4409.317500,1.070850,0.508175,41.000000,748.250000
max,1438.000000,2020.000000,1.955000e+06,1.000000,7.820000e+06,4.000000,325140.000000,6.797500,2.720000,598.000000,6093.000000

In [15]:
projects[projects['funding_raised'] > 50000]

,project_id,title,founder,location,year,funding_goal,stretch_goal_no_yes,funding_goal_stretch_point,relative_stretch_goal,funding_raised,percentage_of_goal,percentage_of_goal_stretch,number_of_supporters,word_count_description
346,347,Earthworker: A New Hope,Earthworker,Australia,2014,45931.85,1,182269.25,3.9683,57234.00,1.2461,0.3140,317,905
780,781,Labour Y - Labour hire making a difference,Project Youth,Australia,2017,109361.55,1,127588.48,1.1667,75729.23,0.6925,0.5935,19,592
1135,1136,SMASH Housing Project,Struggle for Miami's Affordable and Sustainabl...,United States,2018,325000.00,1,350000.00,1.0769,325140.00,1.0004,0.9290,154,951
1168,1169,Sponsor a Goat Kid and Educate a Filipino Kid,Christina McKay,Philippines,2018,14581.54,1,36453.85,2.5000,53550.71,3.6725,1.4690,48,580
1243,1244,Tender Funerals - A Community Undertaking,Port Kembla Community Project Inc,Australia,2014,145086.32,1,182269.25,1.2563,62718.85,0.4323,0.3441,344,496
1255,1256,The Calor App: Preventing Farm Worker Heat Stroke,Faith Estella Florez,United States,2018,60000.00,1,75000.00,1.2500,60775.00,1.0129,0.8103,89,625
1301,1302,The Walt Disney Birthplace Restoration - Phase...,The Walt Disney Birthplace,United States,2014,15000.00,1,40000.00,2.6667,51886.00,3.4591,1.2972,318,798
1302,1303,The Warlu Fashion Collection,NORTH,Australia,2018,43744.62,1,54680.78,1.2500,56117.06,1.2828,1.0263,205,620